<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Responsive Project" />
    <meta name="description" content="Responsive Project" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>MTL Project</title>
    <link rel="icon" href="/favicon.png" type="image/x-icon" />
  </head>

  <body>
    <noscript>Responsive Project</noscript>
    <div id="root"></div>
  </body>
</html>
